/* .tools__item {
  transition: all .2s ease-in-out
} */

.Main {
  box-sizing: border-box;
  font-size: 10px;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

.body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

img {
  border-style: none
}

.Main,.body{
  height: 100%;
  width: 100%
}

.body {
  background-color: #efefef;
  font-family: Proxima Nova, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  min-width: 380px
}

.body-page {
  overflow: hidden;
  min-height: 100%;
}


.weather-widget {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 20px;
    height: 110px;
    width: 150px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px #00000033;
    margin: 10px -350px;
  }
  
  .weather-widget h2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .weather-widget p {
    margin: 0 0;
    font-size: 12px;
  }
  
.Pro{
    display:inline-block;
    justify-content: space-around;
    margin-top: -500px;
    margin-right: -1250px;
    color: black;
    font-size: 180px;
    font-weight: bold;
  }

.header{
  position: absolute;
  align-items: center;
  right: 0;
  left: 0;
  top: 44px;
}

.header--pricing {
  position: relative;
  margin-top: 47px;
  top: 0 !important
}

.header__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative
}

.header__logo {
  display: none;
  margin: 0;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: #0184ff;
}

.header--pricing .header__logo {
  font-size: 8px;
  display: block
}

.header--tools .header__logo {
  font-size: 8px;
  display: block;
  position: relative;
  top: 4px
}

.header__logo-link {
  position: relative;
  display: inline-block;
  text-decoration: none
}

.header__logo-link--tools {
  /* background: url(../images/logo.svg) 0 0 no-repeat; */
  background-size: contain;
  text-indent: -9999px;
  white-space: nowrap;
  width: 21.5em;
  height: 2.25em
}

.header__logo-note {
  display: inline-block;
  white-space: nowrap;
  text-indent: -9999px
}

.header__logo-note--b {
  width: 17em;
  height: 3.1875em;
  margin-right: .25em;
  /* background: url(../images/logo-bm-b.svg) 0 0 no-repeat */
}

.header--pricing .header__logo-note--b {
  /* background: url(/images/logo-bm-b2.svg) 0 0 no-repeat */
}

.header__logo-note--m {
  width: 14.1875em;
  height: 3.1875em;
  /* background: url(../images/logo-bm-m.svg) 0 0 no-repeat */
}

.header__nav {
  display: flex;
  align-items: center;
  text-align: center;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex
}

.header__nav-item {
    font-size: 50px;
    align-items: center;
    text-align: center;
  padding: 0;
  margin: 0 2px;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  color: #000;
}

.header__nav-link {
  transition: background-color .2s ease-in-out;
  display: inline-block;
  padding: 0 1.73333em;
  text-decoration: none;
  color: #282d33;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 700;
  line-height: 2em
}

.header__nav-link.highlight {
  background-color: hsla(0, 0%, 100%, .3)
}

.header__nav-link:hover {
  background-color: hsla(0, 0%, 100%, .4)
}

.header__nav-link:active {
  background-color: hsla(0, 0%, 100%, .55)
}

.header--pricing .header__nav-link.highlight {
  background-color: #fff
}

.header--pricing .header__nav-link--current,
.header--pricing .header__nav-link:focus,
.header--pricing .header__nav-link:hover {
  outline: none;
  background-color: #cbdef2
}

.header--pricing .header__nav-link:active {
  background-color: #a2c4e8
}

.header--tools .header__nav-link {
  color: #fff
}

.header--tools .header__nav-link--current,
.header--tools .header__nav-link:focus,
.header--tools .header__nav-link:hover {
  background-color: #c2e3cd;
  color: #1d293e;
  outline: none
}

.header--tools .header__nav-link:active {
  background-color: #9fd3b0
}

.header__mobile-menu {
  position: absolute;
  right: 15px;
  top: -2px
}

.header__mobile-menu .ico-svg__menu {
  width: 2.5em;
  height: 1.875em;
  fill: #fff
}

.header--pricing .header__mobile-menu .ico-svg__menu {
  fill: #000
}


.btn {
    background-color: #0a0a0a; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding inside the button */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Font size */
    font-weight: bold; /* Bold text */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .btn:hover {
    background-color: #5e4e3a; /* Darker green on hover */
    transform: translateY(-2px); /* Slight lift effect */
  }
  
  .btn:active {
    background-color: #0b0b0b; /* Even darker green when clicked */
    transform: translateY(2px); /* Button appears pressed */
  }
  

.footer {
  padding: 70px 0;
  background-color: #292d33
}

.footer__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

.footer__row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -70px;
  margin-bottom: 112px
}

.footer__section {
  margin-top: 70px
}

#footer__section__2{
    color: #8e999b; 
    margin-right: 3em;
}

#footer__section__3
{
    color: #8e999b;
}

.footer__section-title {
  transition: opacity .2s ease-in-out;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.27778em
}

.footer__section-title:hover {
  opacity: .7
}

.footer__section-title:before {
  position: absolute;
  right: -10px;
  bottom: -6px;
  left: -10px;
  height: 14px;
  content: ""
}

.footer__section-title--style1 {
  color: #f6ce55
}

.footer__section-title--style1:before {
  background-color: rgba(246, 206, 85, .2)
}

.footer__section-title--style2 {
  color: #8ecea8
}

.footer__section-title--style2:before {
  background-color: rgba(142, 206, 168, .2)
}

.footer__section-title--style3 {
  color: #ee5495
}

.footer__section-title--style3:before {
  background-color: rgba(238, 84, 149, .2)
}

.footer__section-note {
  color: #8e999b;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.27778em
}

.footer__decor {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding: 0 5em;
  font-size: 8px
}

.footer__decor-item {
  position: relative;
  width: 5em;
  height: 5em
}

.footer__decor-item:before {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  content: ""
}

.footer__decor-item--s1 {
  background-color: #f6ce55
}

.footer__decor-item--s1:before {
  left: -100%;
  background-color: #ee5495
}

.footer__decor-item--s2 {
  margin-top: 10em;
  background-color: #8ecea8
}

.footer__decor-item--s2:before {
  left: 100%;
  background-color: #9baed8
}

.hero {
  background-color: #fcd469;
  padding-top: -200px;
}

.hero__box {
  margin-right: auto;
  margin-left: auto;

}

.hero__logo {
    padding-top: 140px;
    padding-bottom: -500px;
  display: inline-block;
  margin: 0 0 50px;
  font-size: 19px
}

.hero__logo-link {
  position: relative;
  display: inline-block;
  text-decoration: none
}

.hero__logo-link:before {
  position: absolute;
  top: 3.5em;
  left: 14.375em;
  display: block;
  width: 1.75em;
  height: 1.75em;
  content: "";
  /* background: url(../images/logo-bm-p.svg) 0 0 no-repeat */
}

.hero__logo-note {
  display: inline-block;
  white-space: nowrap;
  text-indent: -9999px
}

.hero__logo-note--b {
  width: 17em;
  height: 3.1875em;
  margin-right: .25em;
  margin-bottom: 26px;
  /* background: url(../images/logo-bm-b.svg) 0 0 no-repeat */
}

.hero__logo-note--m {
  width: 14.1875em;
  height: 3.1875em;
  /* background: url(../images/logo-bm-m.svg) 0 0 no-repeat */
}

.hero__title {
  margin: 0 0 20px;
  color: #292e34;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.21429em
}

.hero__note {
  margin-bottom: 42px;
  color: rgba(41, 46, 52, .5);
  font-size: 1.125em;
  line-height: 1.44444em
}

.hero__action {
  text-align: center;
}

.logos {
  margin-bottom: 56px;
  padding-top: 100px
}

.logos__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

.logos__list {
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -30px 0 0;
  font-size: 12px
}

.logos__item {
  padding: 0;
  margin: 30px 0 0;
  text-align: center
}

.logos__item:nth-child(-n+3) {
  width: 33%
}

.logos__item:nth-child(n+4):nth-child(-n+5) {
  width: 50%
}

.logos__img {
  vertical-align: top
}

.features {
    padding-top: 20%;
  margin-bottom: 70px
}

.features__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

.features__list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 80px
}

.features__item {
  width: 100%;
  margin-top: 46px;
  margin-right: auto;
  margin-left: auto;
  text-align: center
}

.features__item:first-child {
  margin-top: 0
}

.features__item--s1 {
  color: #ee5495
}

.features__item--s2 {
  color: #79b790
}

.features__item--s3 {
  color: #9baed9
}

.features__item--s4 {
  color: #e3a624
}

.features__item--s5 {
  color: #292e34
}

.features__item-cover {
  margin-bottom: 1.0625em;
  text-align: center
}

.features__item--s1 .features__item-cover {
  fill: #ee5495
}

.features__item--s2 .features__item-cover {
  fill: #79b790
}

.features__item--s3 .features__item-cover {
  fill: #9baed9
}

.features__item--s4 .features__item-cover {
  fill: #e3a624
}

.features__item--s5 .features__item-cover {
  fill: #292e34
}

.features__item-ico {
  width: 5.4375em;
  height: 5.4375em
}

.features__item-title {
  margin-bottom: .27273em;
  font-size: 1.375em;
  font-weight: 700;
  line-height: 1.22727em
}

.features__item-note {
  font-size: 1.125em;
  font-weight: 400;
  line-height: 1em
}

.features__action {
  text-align: center
}

.features__action-title {
  margin-bottom: .1875em;
  color: #292e34;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.21875em
}

.features__action-note {
  color: rgba(41, 46, 52, .5);
  font-size: 1.125em;
  line-height: 1.44444em
}

.features__action-btn {
  margin-top: 3.125em
}

.instantly {
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: #9baed9
}

.instantly__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  position: relative
}

.instantly__main {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2.5em;
  text-align: center
}

.instantly__title {
  max-width: 286px;
  margin-bottom: .25em;
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  line-height: 1.21875em
}

.instantly__note {
  max-width: 286px;
  color: #fff;
  font-size: 1.125em;
  line-height: 1.44444em
}

.instantly__preview {
  position: relative
}

.instantly__preview-box {
  margin-right: -15px;
  margin-bottom: 35px;
  margin-left: -15px;
  text-align: center
}

.instantly__preview-img {
  width: 100%;
  vertical-align: top
}

.instantly__preview-info {
  margin-top: 52px;
  text-align: center;
  font-size: 1.125em
}

.instantly__preview-info--s3 br {
  display: none
}

.instantly__preview-info:first-child {
  margin-top: 0
}

.instantly__preview-title {
  letter-spacing: .14em;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  line-height: 1.22222em
}

.instantly__preview-text {
  color: #282d33;
  line-height: 1.44444em
}

.chat {
  margin-bottom: 60px
}

.chat__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

.chat__main {
  margin-bottom: 48px
}

.chat__main-title {
    padding-top: 30%;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
  color: #292e34;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.21875em
}

.chat__main-title:after {
  position: absolute;
  z-index: -1;
  right: -10px;
  bottom: 2px;
  left: -10px;
  height: 14px;
  content: "";
  background-color: #c4e3cc
}

.chat__main-note {
  color: rgba(41, 46, 52, .5);
  font-size: 18px;
  line-height: 1.625em
}

.chat__list {
  -webkit-flex-direction: column;
  flex-direction: column
}

.chat__list,
.chat__list-item {
  display: -webkit-flex;
  display: flex;
  width: 100%
}

.chat__list-item {
  margin-top: 20px
}

.chat__list-item:first-child {
  margin-top: 0
}

.chat__list-item--s2 {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse
}

.chat__list-item-userpic {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0
}

.chat__list-item--s1 .chat__list-item-userpic {
  margin-right: 20px
}

.chat__list-item--s2 .chat__list-item-userpic {
  margin-left: 20px
}

.chat__list-item-note {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  padding: 26px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.3125em
}

.chat__list-item--s1 .chat__list-item-note {
  color: #fff;
  background-color: #0184ff
}

.chat__list-item--s2 .chat__list-item-note {
  color: #404549;
  background-color: #fff
}

.chat__list-item-extra {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%
}

.chat__list-item-extra-img {
  display: inline-block;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 40%;
  max-width: 104px;
  margin-right: 30px
}

.build {
    padding-top: 5%;
  margin-bottom: 90px
}

.build__box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px
}

.build__cover {
  margin-bottom: 60px;
  position: relative
}

.build__cover-img {
  width: 100%;
  vertical-align: top
}

.build__cover-decor {
  display: none
}

.build__cover-decor .ico-svg--planet {
  width: 70px;
  height: 70px;
  fill: #fff
}

.build__main {
  position: relative
}

.build__main-title {
  color: #292e34;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.21875em;
  position: relative;
  margin-bottom: 20px
}

.build__main-title:before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 0;
  z-index: -1;
  height: 14px;
  background-color: #cbdef2
}

.build__main-note {
  line-height: 1.44444em;
  color: rgba(41, 46, 52, .5);
  font-size: 18px;
  margin-bottom: 50px
}

.build__main-list {
  padding-right: 20%;
  line-height: 1.35714em;
  color: #292e34;
  font-size: 14px;
  font-weight: 600;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -12px;
  margin-bottom: 48px
}

.build__main-list-item {
  margin-top: 12px;
  padding-left: 26px;
  position: relative;
  -webkit-align-self: flex-start;
  align-self: flex-start
}

.build__main-list-item .ico-svg {
  position: absolute;
  top: 0;
  left: 0
}

.build__main-list-item .ico-svg__doc {
  width: .78571em;
  height: 1.07143em;
  margin-top: .07143em;
  margin-left: .21429em
}

.build__main-list-item .ico-svg__profile {
  width: 1.07143em;
  height: 1.07143em;
  margin-top: .07143em;
  margin-left: .07143em
}

.build__main-list-item .ico-svg__card {
  width: 1.28571em;
  height: .85714em;
  margin-top: .14286em;
  margin-left: 0
}

.build__main-list-item .ico-svg__favicon {
  width: 1.28571em;
  height: .64286em;
  margin-top: .28571em;
  margin-left: .07143em
}

.build__main-list-item .ico-svg__paper {
  width: 1.07143em;
  height: .92857em;
  margin-top: .14286em;
  margin-left: .07143em
}

.build__main-list-item .ico-svg__logo {
  width: 1.14286em;
  height: .92857em;
  margin-top: .14286em;
  margin-left: .14286em
}

.build__main-list-item .ico-svg__cover {
  width: 1.07143em;
  height: 1.07143em;
  margin-top: 0;
  margin-left: .21429em
}

.build__main-list-item .ico-svg__font {
  width: .85714em;
  height: 1.14286em;
  margin-top: .07143em;
  margin-left: .35714em
}

.build__main-list-item .ico-svg__presentation {
  width: 1.07143em;
  height: 1.07143em;
  margin-top: 0;
  margin-left: .21429em
}

.build__main-list-item .ico-svg__guide {
  width: 1.28571em;
  height: 1em;
  margin-top: .14286em;
  margin-left: .14286em
}

.build__main-action-btn .ico-svg--out {
  width: 1em;
  height: 1.05556em;
  fill: #292e34;
  margin-right: .66667em
}


@media only screen and (min-width:550px) {
  .header__box {
    max-width: 500px
  }

  .footer {
    padding: 90px 0
  }

  .footer__box {
    max-width: 500px
  }

  .footer__row {
    margin-bottom: 150px;
    padding: 0 38px
  }

  .footer__decor {
    max-width: 390px
  }

  .hero__box {
    max-width: 500px;
    padding-top: 165px;
    padding-bottom: 170px
  }

  .hero__box-main {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto
  }

  .hero__logo {
    margin-bottom: 53px;
    font-size: 23px
  }

  .hero__title {
    font-size: 30px
  }

  .hero__note {
    margin-bottom: 50px;
    font-size: 22px
  }

  .hero__action {
    text-align: left
  }

  .logos {
    margin-bottom: 70px
  }

  .logos__box {
    max-width: 500px
  }

  .logos__list {
    font-size: 14px
  }


  .features__box {
    max-width: 500px
  }

  .features__list {
    margin-bottom: 90px
  }

  .features__item {
    margin-top: 0;
    text-align: left
  }

  .features__item,
  .features__item-cover {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
  }

  .features__item-cover {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-justify-content: center;
    justify-content: center;
    width: 156px;
    height: 156px;
    margin-bottom: 0
  }

  .features__item--s1 .features__item-cover {
    background-color: #ee5495;
    fill: #fff
  }

  .features__item--s2 .features__item-cover {
    background-color: #8ecea8;
    fill: #fff
  }

  .features__item--s3 .features__item-cover {
    background-color: #9baed9;
    fill: #fff
  }

  .features__item--s4 .features__item-cover {
    background-color: #f6ce55;
    fill: #fff
  }

  .features__item--s5 .features__item-cover {
    background-color: #292e34;
    fill: #fff
  }

  .features__item-ico {
    font-size: 1.125em
  }

  .features__item-box {
    margin-left: 56px
  }

  .instantly {
    padding-top: 72px;
    padding-bottom: 48px
  }

  .instantly__box {
    max-width: 500px
  }

  .instantly__preview-box {
    margin: 0 0 48px
  }

  .instantly__preview-img {
    max-width: 470px
  }

  .instantly__preview-note {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -32px
  }

  .instantly__preview-info {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: left;
    font-size: 1em;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 30px);
    flex-basis: calc(49.95% - 30px);
    max-width: calc(49.95% - 30px);
    width: calc(49.95% - 30px)
  }

  .instantly__preview-info:nth-child(1n) {
    margin-right: 60px;
    margin-left: 0
  }

  .instantly__preview-info:last-child {
    margin-right: 0
  }

  .instantly__preview-info:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }

  .chat {
    margin-bottom: 80px
  }

  .chat__box {
    max-width: 500px
  }

  .chat__box-line {
    max-width: 390px;
    margin-right: auto;
    margin-left: auto
  }

  .chat__main {
    margin-bottom: 68px
  }

  .chat__main-title {
    margin-bottom: 30px
  }

  .chat__list-item {
    margin-top: 25px
  }

  .build {
    margin-bottom: 100px
  }

  .build__box {
    max-width: 500px
  }

  .build__box-row {
    margin-left: auto;
    margin-right: auto;
    max-width: 390px
  }

  .build__cover {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: 64px
  }

  .build__main-title {
    margin-bottom: 30px
  }

  .build__main-note {
    max-width: 360px;
    margin-bottom: 38px
  }

  .build__main-list {
    margin-bottom: 58px
  }

  .features-price__box {
    max-width: 500px
  }

  .features-price__list {
    margin-bottom: 90px
  }

  .features-price__item {
    margin-top: 0;
    text-align: left
  }

  .features-price__item,
  .features-price__item-cover {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
  }

  .features-price__item-cover {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-justify-content: center;
    justify-content: center;
    width: 156px;
    height: 156px;
    margin-bottom: 0
  }

  .features-price__item--s1 .features-price__item-cover {
    background-color: #ee5495;
    fill: #fff
  }

  .features-price__item--s2 .features-price__item-cover {
    background-color: #8ecea8;
    fill: #fff
  }

  .features-price__item--s3 .features-price__item-cover {
    background-color: #9baed9;
    fill: #fff
  }

  .features-price__item--s4 .features-price__item-cover {
    background-color: #f6ce55;
    fill: #fff
  }

  .features-price__item--s5 .features-price__item-cover {
    background-color: #292e34;
    fill: #fff
  }

  .features-price__item-ico {
    font-size: 1.125em
  }

  .features-price__item-box {
    margin-left: 56px
  }

  .tools__hero {
    padding: 180px 20px
  }

  .tools__hero-note {
    font-size: 24px
  }

  .tools__box {
    max-width: 500px
  }

  .tools__list {
    margin-top: -145px
  }

  .tools__item {
    margin-top: 35px
  }

  .tools__item-note {
    font-size: 24px
  }
}

@media (min-width:550px) and (max-width:767px) {

  .build__main-list-item {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 3px);
    flex-basis: calc(49.95% - 3px);
    max-width: calc(49.95% - 3px);
    width: calc(49.95% - 3px)
  }

  .build__main-list-item:nth-child(1n) {
    margin-right: 6px;
    margin-left: 0
  }

  .build__main-list-item:last-child {
    margin-right: 0
  }

  .build__main-list-item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }
}

@media (min-width:576px) {
  .g-typography {
    font-size: calc(14px + 2*(100vw - 576px)/624)
  }

  .g-typography h1 {
    font-size: calc(32.49679px + 4.6424*(100vw - 576px)/624)
  }

  .g-typography h2 {
    font-size: calc(27.45984px + 3.92283*(100vw - 576px)/624)
  }

  .g-typography h3 {
    font-size: calc(23.20361px + 3.3148*(100vw - 576px)/624)
  }

  .g-typography h4 {
    font-size: calc(19.60708px + 2.80102*(100vw - 576px)/624)
  }

  .g-typography h5 {
    font-size: calc(16.56802px + 2.36686*(100vw - 576px)/624)
  }

  .g-typography h6 {
    font-size: calc(14px + 2*(100vw - 576px)/624)
  }
}

@media (min-width:768px) and (max-width:991px) {

  .build__main-list-item {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(33.3% - 20px);
    flex-basis: calc(33.3% - 20px);
    max-width: calc(33.3% - 20px);
    width: calc(33.3% - 20px)
  }

  .build__main-list-item:nth-child(1n) {
    margin-right: 30px;
    margin-left: 0
  }

  .build__main-list-item:last-child {
    margin-right: 0
  }

  .build__main-list-item:nth-child(3n) {
    margin-right: 0;
    margin-left: auto
  }
}

@media only screen and (min-width:768px) {
  .header {
    top: 110px
  }

  .header__box {
    max-width: 660px
  }

  .footer {
    padding: 90px 0 140px
  }

  .footer__box {
    max-width: 660px
  }

  .footer__row {
    margin-bottom: 160px;
    padding: 0
  }

  .footer__section {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 40px);
    flex-basis: calc(49.95% - 40px);
    max-width: calc(49.95% - 40px);
    width: calc(49.95% - 40px)
  }

  .footer__section:nth-child(1n) {
    margin-right: 80px;
    margin-left: 0
  }

  .footer__section:last-child {
    margin-right: 0
  }

  .footer__section:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }

  .footer__section:first-child {
    -webkit-order: 0;
    order: 0
  }

  .footer__section:nth-child(2) {
    -webkit-order: 2;
    order: 2;
    margin-right: 80px
  }

  .footer__section:nth-child(3) {
    -webkit-order: 5;
    order: 5
  }

  .footer__section:nth-child(4) {
    -webkit-order: 1;
    order: 1
  }

  .footer__section:nth-child(5) {
    -webkit-order: 3;
    order: 3;
    margin-right: 0
  }

  .footer__section:nth-child(6) {
    -webkit-order: 5;
    order: 5
  }

  .footer__section-title {
    font-size: 16px
  }

  .footer__section-note {
    font-size: 14px
  }

  .footer__decor {
    max-width: 630px;
    font-size: 16px
  }

  .footer__decor-item--s2 {
    margin-top: 5em
  }

  .hero__box {
    max-width: 660px;
    padding-top: 275px;
    padding-bottom: 188px
  }

  .hero__box-main {
    max-width: 100%;
    text-align: center
  }

  .hero__logo {
    margin-bottom: 60px;
    margin-left: -18px;
    font-size: 16px
  }

  .hero__logo-link:before {
    top: -1em;
    right: -1.875em;
    left: auto
  }

  .hero__logo-note--b {
    margin-bottom: 0
  }

  .hero__note,
  .hero__title {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto
  }

  .hero__note {
    margin-bottom: 65px;
    font-size: 21px
  }

  .hero__action {
    text-align: center
  }

  .logos {
    margin-bottom: 94px
  }

  .logos__box {
    max-width: 660px
  }

  .logos__list {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 13px
  }

  .logos__item {
    width: auto !important
  }

  .slider__list {
    margin-top: -150px
  }

  .features__box {
    max-width: 660px
  }

  .features__item-box {
    margin-left: 78px
  }

  .instantly {
    padding: 100px 0 80px
  }

  .instantly__box {
    max-width: 660px
  }

  .instantly__main {
    -webkit-align-items: flex-start;
    align-items: flex-start;
    margin-bottom: 60px;
    text-align: left
  }

  .instantly__note,
  .instantly__title {
    max-width: 100%
  }

  .instantly__preview {
    display: -webkit-flex;
    display: flex
  }

  .instantly__preview-box {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 470px;
    margin-right: 40px
  }

  .instantly__preview-note {
    margin-bottom: 0;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .instantly__preview-info {
    margin-top: 35px;
    margin-bottom: 0;
    font-size: .875em;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 99.9%;
    flex-basis: 99.9%;
    max-width: 99.9%;
    width: 99.9%
  }

  .instantly__preview-info:nth-child(1n) {
    margin-left: 0
  }

  .instantly__preview-info:last-child {
    margin-right: 0
  }

  .instantly__preview-info:nth-child(1n) {
    margin-right: 0;
    margin-left: auto
  }

  .instantly__preview-title {
    margin-bottom: 8px
  }

  .chat {
    margin-bottom: 0
  }

  .chat__box {
    max-width: 660px
  }

  .chat__box-line {
    max-width: 100%
  }

  .chat__main-note {
    max-width: 390px;
    text-align: center
  }

  .chat__main-note,
  .chat__phone {
    margin-right: auto;
    margin-left: auto
  }

  .chat__phone {
    width: 453px;
    height: 466px;
    padding: 120px 55px 0;
    /* background: url(../images/phone.png) 0 0 no-repeat; */
    background-size: cover
  }

  .chat__list-item-userpic {
    width: 43px;
    height: 43px
  }

  .chat__list-item-note {
    padding: 14px 24px
  }

  .chat__list-item--s2 .chat__list-item-note {
    background-color: #efefef
  }

  .build {
    margin-bottom: 140px
  }

  .build__box {
    max-width: 660px
  }

  .build__box-row {
    max-width: 100%
  }

  .build__cover {
    margin-left: 0;
    margin-right: 0;
    width: calc(100% - 158px);
    margin-bottom: 88px
  }

  .build__cover-decor {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 158px;
    height: 158px;
    background-color: #8ecea8;
    position: absolute;
    top: 100%;
    left: 100%
  }

  .build__main-title {
    max-width: 330px
  }

  .build__main-note {
    margin-bottom: 76px
  }

  .build__main-list {
    margin-bottom: 52px
  }

  .build__main-action-btn {
    font-size: 14px
  }


  .features-price__box {
    max-width: 660px
  }

  .features-price__item:nth-child(2n) {
    margin-left: 156px;
    padding-right: 156px
  }

  .features-price__item-box {
    margin-left: 78px
  }

  .tools__hero {
    padding: 230px 20px 195px
  }

  .tools__hero-note {
    font-size: 18px
  }

  .tools__hero-note br {
    display: inline
  }

  .tools__box {
    max-width: 660px;
    padding-bottom: 95px
  }

  .tools__item {
    max-width: 100%;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 17.5px);
    flex-basis: calc(49.95% - 17.5px);
    max-width: calc(49.95% - 17.5px);
    width: calc(49.95% - 17.5px)
  }

  .tools__item:nth-child(1n) {
    margin-right: 35px;
    margin-left: 0
  }

  .tools__item:last-child {
    margin-right: 0
  }

  .tools__item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }

  .tools__item-logo {
    font-size: 13px;
    margin-bottom: 38px
  }

  .tools__item-title {
    font-size: 24px
  }

  .tools__item-note {
    font-size: 16px
  }
}

@media only screen and (min-width:992px) {

    .header__box{
        max-width: 500px;
    }
  .footer__box {
    max-width: 1120;
  }

  .footer__row {
    margin-bottom: 108px
  }

  .footer__section {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(33.3% - 40px);
    flex-basis: calc(33.3% - 40px);
    max-width: calc(33.3% - 40px);
    width: calc(33.3% - 40px)
  }

  .footer__section:nth-child(1n) {
    margin-right: 60px;
    margin-left: 0
  }

  .footer__section:last-child {
    margin-right: 0
  }

  .footer__section:nth-child(3n) {
    margin-right: 0;
    margin-left: auto
  }

  .footer__section:first-child {
    -webkit-order: 0;
    order: 0
  }

  .footer__section:nth-child(2) {
    -webkit-order: 1;
    order: 1
  }

  .footer__section:nth-child(3) {
    -webkit-order: 2;
    order: 2
  }

  .footer__section:nth-child(4) {
    -webkit-order: 3;
    order: 3
  }

  .footer__section:nth-child(5) {
    -webkit-order: 4;
    order: 4;
    margin-right: 0
  }

  .footer__section:nth-child(6) {
    -webkit-order: 5;
    order: 5
  }

  .footer__section-title {
    margin-bottom: 15px
  }

  .footer__decor {
    max-width: 554px;
    padding-bottom: 5em
  }

  .hero__box {
    max-width: 815px
  }

  .hero__logo {
    font-size: 19px
  }

  .hero__title {
    margin-bottom: 6px;
    font-size: 36px
  }

  .hero__note {
    margin-bottom: 4.33333em
  }

  .hero__action-btn {
    font-size: 17px
  }

  .logos {
    margin-bottom: 130px
  }

  .logos__box {
    max-width: 815px
  }

  .logos__list {
    font-size: 14px
  }

  .features__box {
    max-width: 815px
  }

  .features__item:nth-child(2n) {
    margin-left: 156px
  }

  .instantly {
    position: relative;
    background-color: #efefef;
    padding: 86px 0 0
  }

  .instantly:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 70px;
    top: 0;
    background-color: #9baed9
  }

  .instantly__box {
    max-width: 815px
  }

  .instantly__main {
    text-align: center;
    margin-bottom: 76px
  }

  .instantly__note,
  .instantly__title {
    width: 100%
  }

  .instantly__preview {
    -webkit-justify-content: center;
    justify-content: center
  }

  .instantly__preview-box {
    margin-right: 0;
    margin-bottom: 0
  }

  .instantly__preview-note {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
  }

  .instantly__preview-info {
    margin-top: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 275px);
    flex-basis: calc(49.95% - 275px);
    max-width: calc(49.95% - 275px);
    width: calc(49.95% - 275px);
    margin-bottom: 50px
  }

  .instantly__preview-info:nth-child(1n) {
    margin-right: 550px;
    margin-left: 0
  }

  .instantly__preview-info:last-child {
    margin-right: 0
  }

  .instantly__preview-info:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }

  .chat__box {
    max-width: 815px
  }

  .chat__box-line {
    display: -webkit-flex;
    display: flex
  }

  .chat__main {
    margin-right: 76px
  }

  .chat__main-title {
    margin-bottom: 22px
  }

  .chat__main-note {
    text-align: left
  }

  .chat__phone {
    -webkit-flex-shrink: 0;
    flex-shrink: 0
  }

  .build__box {
    max-width: 815px
  }

  .build__box-row {
    display: -webkit-flex;
    display: flex
  }

  .build__cover {
    width: 315px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 124px;
    -webkit-align-self: flex-start;
    align-self: flex-start
  }

  .build__cover-decor {
    left: auto;
    right: 100%
  }

  .build__main-note {
    margin-bottom: 60px
  }

  .build__main-list {
    margin-bottom: 0
  }

  .build__main-list-item {
    width: 100%
  }

  .features-price__box {
    max-width: 815px
  }

  .features-price__list {
    max-width: 594px;
    margin-left: auto;
    margin-right: auto
  }

  .features-price__item:nth-child(2n) {
    margin-left: 0;
    padding-right: 0
  }

  .features-price__item:nth-child(odd) {
    margin-left: 156px;
    padding-right: 56px
  }

  .tools__box {
    max-width: 815px
  }

  .tools__list {
    margin-top: -155px
  }

  .tools__item {
    padding: 50px
  }

  .tools__item-note {
    min-height: 3em
  }
}

@media (min-width:992px) and (max-width:1399px) {

  .build__main-action-btn {
    position: absolute;
    bottom: 0;
    right: calc(100% + 124px)
  }
}

@media (min-width:1200px) {
  .g-typography {
    font-size: 16px
  }

  .g-typography h1 {
    font-size: 37.13919px;
    margin-top: .87132em;
    margin-bottom: .17426em;
    line-height: 1.04558em
  }

  .g-typography h2 {
    font-size: 31.38267px;
    margin-top: 1.03114em;
    margin-bottom: .22594em;
    line-height: 1.23737em
  }

  .g-typography h3 {
    font-size: 26.51841px;
    margin-top: 1.22028em;
    margin-bottom: .27167em;
    line-height: 1.46434em
  }

  .g-typography h4 {
    font-size: 22.4081px;
    margin-top: 1.44412em;
    margin-bottom: .32749em;
    line-height: 1.73295em
  }

  .g-typography h5 {
    font-size: 18.93488px;
    margin-top: 1.70902em;
    margin-bottom: .3418em;
    line-height: 2.05082em
  }

  .g-typography h6 {
    font-size: 16px;
    margin-top: 2.0225em;
    margin-bottom: .43339em;
    line-height: 2.427em
  }

  .g-typography table {
    margin-bottom: 1.92138em
  }

  .g-typography td,
  .g-typography th {
    padding: .4045em .809em
  }
}

@media only screen and (min-width:1400px) {

  .header {
    top: 92px;
    align-items: center;
  }

  .header__box {
    max-width: 970px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between
  }

  .header__logo {
    display: block;
    font-size: 8px;
  }

  .header__nav {
    display: block
  }

  .header__mobile-menu {
    display: none
  }

  .footer__box {
    max-width: 970px
  }

  .footer__row {
    margin-top: -80px;
    margin-bottom: 130px
  }

  .footer__section {
    margin-top: 80px
  }

  .footer__decor {
    max-width: 594px
  }

  .hero__box {
    max-width: 970px;
    min-height: 700px;
    padding-top: 268px;
    padding-bottom: 30px
  }

  .hero__logo,
  .hero__logo-link:before {
    display: none
  }

  .hero__title {
    margin: 0 0 .2381em;
    font-size: 2.625em
  }

  .hero__note,
  .hero__title {
    max-width: 570px;
    text-align: left
  }

  .hero__note {
    min-height: 100px;
    margin: 0 0 30px;
    font-size: 18px
  }

  .hero__action {
    text-align: left
  }

  .logos {
    margin-bottom: 140px
  }

  .logos__box {
    max-width: 970px
  }

  .logos__list {
    max-width: 840px;
    margin-right: auto;
    margin-left: auto;
    font-size: 16px
  }

  .features__box {
    max-width: 970px
  }

  .features__item {
    position: relative;
    left: 50%;
    max-width: 626px
  }

  .features__item:nth-child(odd) {
    margin-left: -156px
  }

  .features__item:nth-child(2n) {
    left: 0;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-left: 0
  }

  .features__item:nth-child(2n) .features__item-box {
    margin-right: 68px;
    margin-left: 0;
    text-align: right
  }

  .features__item-title {
    font-size: 24px
  }

  .features__item-note {
    font-size: 16px
  }

  .instantly {
    padding: 124px 0 0
  }

  .instantly:before {
    bottom: 94px
  }

  .instantly__box {
    max-width: 970px
  }

  .instantly__preview-info {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 99.9%;
    flex-basis: 99.9%;
    max-width: 99.9%;
    width: 99.9%;
    width: 160px;
    position: absolute
  }

  .instantly__preview-info:nth-child(1n) {
    margin-left: 0
  }

  .instantly__preview-info:last-child {
    margin-right: 0
  }

  .instantly__preview-info:nth-child(1n) {
    margin-right: 0;
    margin-left: auto
  }

  .instantly__preview-info:before {
    content: "";
    position: absolute;
    display: block
  }

  .instantly__preview-info--s1 {
    top: -20px;
    left: 0
  }

  .instantly__preview-info--s1:before {
    /* background: url(../images/line1@2x.png) 0 0 no-repeat; */
    background-size: cover;
    width: 136px;
    height: 25px;
    top: 5px;
    left: calc(100% + 5px)
  }

  .instantly__preview-info--s2 {
    top: 20px;
    right: 0
  }

  .instantly__preview-info--s2:before {
    /* background: url(../images/line3@2x.png) 0 0 no-repeat; */
    background-size: cover;
    width: 149px;
    height: 26px;
    top: 0;
    right: calc(100% + 10px)
  }

  .instantly__preview-info--s3 {
    top: 122px;
    left: 0
  }

  .instantly__preview-info--s3 .instantly__preview-title {
    margin-right: 20px
  }

  .instantly__preview-info--s3:before {
    /* background: url(../images/line2@2x.png) 0 0 no-repeat; */
    background-size: cover;
    width: 142px;
    height: 39px;
    top: 0;
    left: 100%
  }

  .chat__box {
    max-width: 970px
  }

  .chat__box-line {
    -webkit-justify-content: space-between;
    justify-content: space-between
  }

  .chat__main {
    max-width: 330px;
    padding-top: 30px
  }

  .chat__main-title {
    padding-right: 30px
  }

  .chat__phone {
    width: 466px;
    margin-right: 0;
    margin-left: 0
  }

  .build {
    margin-bottom: 145px
  }

  .build__box {
    max-width: 970px
  }

  .build__cover {
    margin-right: 154px
  }

  .build__main-title {
    max-width: 100%;
    padding-right: 118px;
    margin-bottom: 20px
  }

  .build__main-list {
    margin-bottom: 42px
  }

  .build__main-list-item {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 20px);
    flex-basis: calc(49.95% - 20px);
    max-width: calc(49.95% - 20px);
    width: calc(49.95% - 20px)
  }

  .build__main-list-item:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0
  }

  .build__main-list-item:last-child {
    margin-right: 0
  }

  .build__main-list-item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }

  .features-price__box {
    max-width: 970px
  }

  .features-price__list {
    max-width: 100%
  }

  .features-price__item {
    position: relative;
    left: 50%;
    max-width: 650px
  }

  .features-price__item:nth-child(odd) {
    margin-left: -180px;
    padding-right: 0
  }

  .features-price__item:nth-child(2n) {
    left: 0;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-left: 0
  }

  .features-price__item-cover {
    width: 180px;
    height: 180px
  }

  .features-price__item:nth-child(2n) .features-price__item-box {
    margin-right: 68px;
    margin-left: 0;
    text-align: right
  }

  .features-price__item-title {
    font-size: 24px
  }

  .features-price__item-note {
    font-size: 16px
  }

  .tools__box {
    max-width: 970px
  }

  .tools__item {
    margin-top: 40px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 20px);
    flex-basis: calc(49.95% - 20px);
    max-width: calc(49.95% - 20px);
    width: calc(49.95% - 20px)
  }

  .tools__item:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0
  }

  .tools__item:last-child {
    margin-right: 0
  }

  .tools__item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }
}

@media only screen and (min-width:1600px) {
  .header__box {
    max-width: 1130px
  }

  .footer {
    padding: 90px 0 130px
  }

  .footer__box {
    max-width: 1130px
  }

  .footer__decor {
    max-width: 588px
  }

  .hero__box,
  .logos__box {
    max-width: 1130px
  }

  .logos__list {
    max-width: 850px;
    font-size: 17px
  }

  .slider__list:after {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    right: 0;
    content: "";
    background-color: #efefef
  }

  .slider__box {
    max-width: 920px
  }

  .slider__box-cover-img--s1 {
    height: 550px;
    top: -330px
  }

  .slider__box-cover-img--s2 {
    height: 565px;
    bottom: 30px
  }

  .slider__box-cover-img--s3 {
    bottom: -40px;
    height: 730px
  }

  .slider__page {
    padding-top: 60px
  }

  .features__box {
    max-width: 1130px
  }

  .features__list {
    margin-right: 160px
  }

  .instantly__box {
    max-width: 1130px
  }

  .instantly__preview-info {
    font-size: .9375em
  }

  .instantly__preview-info--s1:before {
    top: -10px;
    width: 215px;
    height: 39px
  }

  .instantly__preview-info--s2:before {
    top: -10px;
    width: 207px;
    height: 37px;
    right: calc(100% + 20px)
  }

  .instantly__preview-info--s3 .instantly__preview-title {
    margin-right: 10px
  }

  .instantly__preview-info--s3:before {
    top: -10px;
    width: 227px;
    height: 61px
  }

  .chat__box {
    max-width: 1130px
  }

  .chat__main {
    max-width: 470px;
    padding-left: 156px
  }

  .chat__main-title {
    margin-bottom: 50px
  }

  .chat__phone {
    width: 452px
  }

  .build__box {
    max-width: 1130px
  }

  .build__cover {
    margin-top: 158px;
    margin-right: 96px;
    margin-bottom: 0
  }

  .build__cover-decor {
    top: auto;
    bottom: 100%;
    left: 100%;
    right: auto
  }

  .build__cover-decor2 {
    display: block;
    width: 158px;
    height: 158px;
    background-color: #fcd46a;
    position: absolute;
    right: 100%;
    top: 100%
  }

  .build__main-title {
    margin-left: 240px;
    font-size: 36px;
    padding-right: 70px
  }

  .build__main-note {
    margin-left: 240px;
    margin-bottom: 100px
  }

  .build__main-list {
    margin-bottom: 0
  }

  .build__main-list-item {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(33.3% - 26.66667px);
    flex-basis: calc(33.3% - 26.66667px);
    max-width: calc(33.3% - 26.66667px);
    width: calc(33.3% - 26.66667px)
  }

  .build__main-list-item:nth-child(1n) {
    margin-right: 40px;
    margin-left: 0
  }

  .build__main-list-item:last-child {
    margin-right: 0
  }

  .build__main-list-item:nth-child(3n) {
    margin-right: 0;
    margin-left: auto
  }

  .build__main-action {
    position: absolute;
    bottom: 0
  }

  .features-price__box {
    max-width: 1130px
  }

  .features-price__item {
    max-width: 730px
  }

  .tools__hero {
    padding: 230px 20px 180px
  }

  .tools__box {
    max-width: 1130px;
    padding-bottom: 120px
  }

  .tools__list {
    margin-top: -126px
  }

  .tools__item {
    margin-top: 26px;
    padding: 60px 26px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(24.975% - 19.5px);
    flex-basis: calc(24.975% - 19.5px);
    max-width: calc(24.975% - 19.5px);
    width: calc(24.975% - 19.5px)
  }

  .tools__item:nth-child(1n) {
    margin-right: 26px;
    margin-left: 0
  }

  .tools__item:last-child {
    margin-right: 0
  }

  .tools__item:nth-child(4n) {
    margin-right: 0;
    margin-left: auto
  }
}

@media only screen and (max-width:549px) {

  .build__main-list-item {
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: calc(49.95% - 3px);
    flex-basis: calc(49.95% - 3px);
    max-width: calc(49.95% - 3px);
    width: calc(49.95% - 3px)
  }

  .build__main-list-item:nth-child(1n) {
    margin-right: 6px;
    margin-left: 0
  }

  .build__main-list-item:last-child {
    margin-right: 0
  }

  .build__main-list-item:nth-child(2n) {
    margin-right: 0;
    margin-left: auto
  }
}

  
 